@import url('https://fonts.googleapis.com/css2?family=Rubik&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


* {
    padding:0;
    margin:0; 
    border: none;
    cursor:default;
    user-select: none;
}

body {
    overflow-x: hidden;
    background-color: #ffffff;
}

.navigation{
    background-color: #ffffff;
    color: #735f3d;
    font-size: 16px;
    position: fixed;
    top: 0;
    padding: 5px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    z-index:99;
  }

.dropbtn, .phonebtn{
    color: #735f3d;
    background: local;
    padding: 20px;
    font-size: 16px;
    text-decoration: none;
    transition: 0.2S ease-in-out;
    font-family: "Ubuntu", sans-serif;
  }
  
.dropdown {
    position: relative;
    background: local;
    display: inline-block;
}
  
.dropdown-content {
    background: local;
    display: none;
    position: absolute;
    min-width: 160px;
    text-align: left;
    font-family: "Ubuntu", sans-serif;
    transition: 0.2s ease-in-out;
}
  

.dropdown-content a {
    color: #63372c;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    background-color: white;
    transition: 0.2s ease-in-out;
  }
  
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content-btn:hover {
    background-color: #c1cfff;
}
.dropbtn:hover{
    background-color: #c1cfff;
    border-radius: 5px;
}

.phonebtn:hover{
    background-color: #c1cfff;
}

.phonebtn {
    border: 3px #63372c solid;
}

.navbtns {
    text-align: right;
    margin-right: 20px;
}

.Logo {
    width: 150px;
    height: auto;
}

@media (max-width:600px){
    .dropbtn, .phonebtn, .navbtns{ 
        font-size: 14px;
        padding: 10px;
    }
    .navbtns {
        text-align: left;
    }
    .navigation {
        padding-right: 0px;
        display: block;
    }
    .Logo {
        width: 100px;
        height: auto;
    }
}

.bodytext {
    margin-top: 60px;
    min-height: 500px;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.homeslides {
    padding: 30px;
    text-align: center;
    width: 100%;
    height: 300px;
    margin-top: 80px;
}

.homeslide1 {
    margin-top: 80px;
}

.homebtn {
    text-align: left;
}
.bgrndcol {
    width: 100%;
    height: 70px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    margin-left: 0px;
}



.searchlabel {
    font-size: 75px;
    color: #000;
}

.FloatingIcons {
    text-align: center;
    transition: 0.5s;
    margin-top: 100px;
    width: 50%;
    animation: slidein 1s ease-in-out alternate-reverse;
}

.Icon {
    animation: float 3s infinite alternate-reverse ease-in-out; 
}

.Icon1 {
    animation: float 3s infinite  0.5s alternate-reverse ease-in-out; 
}

.Icon2 {
    animation: float 3s infinite 1s alternate-reverse ease-in-out; 
}

.Icons {
    margin:20px;
    border-radius: 40px;
    transition: 0.7s ease-out;
    color: #2564bb;
    margin-top: 50px;
    font-size: 70px;
    padding: 30px;
}

.Icons:hover {
    background-color: #fecd62;
}
@keyframes float {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(60px);
    }
}


.hometext  {
    margin-top: 130px;
    font-size: 30px;
    font-weight: 80;
    text-align: center;
    color: Black;
    width: 50%;
    margin-left: 20px;
    animation: slidein 0.5s ease-out alternate-reverse;
}

.hometext p {
    margin-top: 100px;
    margin-left: 10px;
    font-size: 25px;
    font-weight: 200;
    text-align: left;
    margin:40px 30px;
    color: Black;
    animation: slidein 0.7s ease-in alternate-reverse;
}

.hometitle {
    font-family: "Rubik", sans-serif;
}

@media (max-width:600px){
    .bodytext {
        display: block;
    }
    .hometext {
        margin-left: 5px;
        font-size: 20px;
        width: 100%;
    }

    .FloatingIcons{
        width: 100%;
    }
}

footer {
    background-color: #2564bb;
    width: 100%;
    padding-bottom: 10px;
    height: 100%;
    margin-top: 150px;
    text-align: left;
    align-items: top;
    font-family: "Ubuntu", sans-serif;
}

.fthenry {
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    text-align: left;
    font-size: 15px;
}

.fthenry h1{
    font-size: 20px;
}

.ftirene {
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    text-align: left;
    font-size: 15px;
}

.ftirene h1{
    font-size: 20px;
}

.ftlocation {
    margin-top: 10px;
    margin-left: 40px;
    display: inline-block;
    text-align: left;
    font-size: 15px;
}

.ftlocation h1{
    font-size: 20px;
}

.subjecticon {
    border-radius: 30px;
    color: #63372c;
    font-size: 50px;
    padding: 20px;
    animation: slidein 0.7s ease-in-out reverse;
    font-family: "Rubik", sans-serif;
}

@keyframes slidein {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50px);
    }
}

.subjectbody {
    margin-top: 100px;
    padding: 0px;
    margin-left: 50px;   
    height: 1250px;
}

.subjectbody p {
    font-size: 20px;
    text-align: left;
    font-family: "Rubik", sans-serif;
    text-indent: 10px;
    animation: slidein 1s ease-in-out reverse;
}

#yeargroupselect {
    display: flex;
    margin-top: 20px;
    animation: slidein 1.3s ease-in-out reverse;
}

#yeargroupselect button{
    margin: 10px;
    background-color: #eee;
    padding: 10px;
    border-radius: 20px;
    font-size: 17.5px;
    font-family: "Ubuntu", sans-serif;
    transition: 0.5s;
}

#yeargroupselect button:hover {
    background-color: #fecd62;
}

#yrM7content {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}

#yrM8content {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}

#yrM9content {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}

#yrM10content {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}

#yrM11content {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}

#yrM12content {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}

#physcontent {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}
#biocontent {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}
#chemcontent {
    display: none;
    font-size: 50px;
    background-color: white;
    width: 1150px;
    height: 500px;
    margin-top: 30px;
    transition: 1s;
    animation: slidein 1.3s ease-in-out reverse;
    animation-play-state: paused;
}

.yrcontenttitle {
    color: #63372c;
    font-family: "Ubuntu", sans-serif;
    font-size: 50px;
}

.yrcontentbody {
    font-family: "Ubuntu", sans-serif;
    font-size: 30px;
}

table, th, td {
    padding: 10px;
    border: 1px solid black;
    border-collapse: collapse;
}

th {
    padding: 10px 15px;
    background-color: #c1cfff;
}

td {
    background-color: #eee;
}

td {
    text-align: center;
}


@media (max-width:600px){ 
    .subjectbody{
        margin-left: 10px;
        margin-top: 150px;
    }
    .subjecticon {
        font-size: 30px;
    }
    .subjectbody p{
        font-size: 20px;
        text-align: center;
        margin-right: 20px;
    }
    #yeargroupselect button {
        margin-left: 5px;
    }
    
    .yrcontenttitle {
        color: #63372c;
        font-family: "Ubuntu", sans-serif;
        font-size: 40px;
    }
    
    .yrcontentbody {
        font-family: "Ubuntu", sans-serif;
        font-size: 20px;
        width: 400px;
    }
    table, th, td {
        padding: 5px;
        font-size: 14px;
    }
}

.profiles {
    margin-top: 150px;
    width: 100%;
    display: flex;
    font-family: "Rubik", sans-serif;
}

.rightprofile {
    text-align: right;
    margin-right: 50px;
    animation: slideinopposite 1.3s ease-in-out reverse;
}

.rightprofile p{
    margin-left: 30%;
}

.profiles h1{
    color: #63372c;
}

.rightphoto {
    margin-left: 50px;
}

.rightphoto img{
    border-radius: 200px;
    border: 4px #63372c solid;
}

.leftprofile {
    text-align: left;
    margin-left: 50px;
    margin-top: 50px;
    animation: slidein 1.3s ease-in-out reverse;
}

.leftprofile p{
    margin-right: 30%;
}

@keyframes slideinopposite {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-50px);
    }
}

.pastsuccess {
    width: 100%;
    height: 350px;
    text-align: center;
    z-index: 100;
    scale: 1;
}

.pasttext {
    margin-top: 50px;
    font-family: "Rubik", sans-serif;
}

.pasttext h1 {
    font-size: 40px;
    color: #63372c;
    padding: 20px;
}

.pasttext a {
    text-decoration: none;
    font-size: 40px;
    color: #63372c;
    padding: 20px;
    text-align: left;
    transition: 0.3s;
}

.pasttext a:hover {
    font-size: 50px;
    color: #735f3d;
}

.pasttext h2 {
    font-size: 30px;
    color: #2564bb;
    padding: 10px;
}

.pasttext span {
    font-size: 30px;
    color: #00028e;
}
.pasttext p {
    font-size: 20px;
    color: #000000;
    padding: 10px;
}

.pastsuccess > .pasttext {
    animation: fadein ease-out;
    animation-timeline: scroll(); 
}

@keyframes fadein {
    0% {
        scale: 0.8; opacity: 0;
        transform: translateY(0);
    }
    100% {
        scale: 1; opacity: 1;
        transform: translateY(-10);
    }
}

@media (max-width:600px) {
    .rightphoto img {
        width: 100px;
        height: auto;
        margin-top: 50px;
    }
    .profiles {
        display: block;
    }
    .pastsuccess > .pasttext {
        animation: fadein linear;
    }
    .pastsuccess {
        scale: 0.85;
    }

}




.enroltitle {
    font-size: 60px;
    margin-top: 100px;
    width: 100%;
    text-align: center;
    font-family: "Ubuntu", sans-serif;
    letter-spacing: 2px;
    animation: slidedown 1s ease-in-out reverse;
}

@keyframes slidedown {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-40px);
    }
}

.Forminput{
    width: 400px;
    text-align: left;
    height: 45px;
    background-color: #eee;
    margin-top: 50px;
    padding:15px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    border-radius: 30px;
}

.Forminput::placeholder {
    font-size: 20px;
    text-align: center;
}

.Forminput:hover, .Forminput:focus {
    background-color: #c1cfff;
}



.enrollabel {
    font-size: 30px;
    width: 100px;
    margin-left: 100px;
    text-align: left;
    padding:15px;
    font-family: "Ubuntu", sans-serif;
}
.formtext {
    margin-top: 60px;
    min-height: 500px;
    display: block;
    width: 100%;
}

.form {
    animation: slideinopposite 1s ease-out reverse;
}

select {
    width: 80px;
    text-align: left;
    height: 50px;
    background-color: #eee;
    margin-top: 100px;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 20px;
    border-radius: 30px;
}

select:hover {
    background-color: #c1cfff;
}

#Nextbutton {
    width: 100px;
    text-align: center;
    height: 50px;
    background-color: #eee;
    margin-top: 100px;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    margin-left: 300px;
}

#Nextbutton:hover {
    background-color: #c1cfff;
}

#submitbutton {
    width: 100px;
    text-align: center;
    height: 50px;
    background-color: #eee;
    margin-top: 100px;
    padding: 10px;
    font-family: "Ubuntu", sans-serif;
    font-size: 25px;
    border-radius: 30px;
    transition: 0.5s ease-in-out;
    margin-left: 300px;
}

#submitbutton:hover {
    background-color: #c1cfff;
}

#parentsection {
    display: none;
    animation: slidedownform 1s ease-out reverse;
    animation-play-state: paused;
}

@keyframes slidedownform {
    0% {
        transform: translateY(0px);
    }
    100% {
        transform: translateY(-100px);
    }
}